.popup__title-field {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding-bottom: 13px;
    /* border-opacity: 0.2; */
}