.profile__add-button {
    background: url(../../../images/cross.svg) no-repeat 50%;
    border: 2px solid #FFFFFF;
    width: 150px;
    height: 50px;
    /* grid-row: span 2; */
    /* grid-row-start: 1;
    grid-row-end: 3; */
    align-self: center;
    justify-self: end;
}
