.profile__avatar {
    width: 168.75px;
    height: 127.5px;
    border-radius: 50%;
    background-size: cover;
    margin-left: 22.5px;
    margin-right: 26.25px;
    margin-top: 3.75px;
    margin-bottom: 3.75px;
}