.element {
    display: grid;
    /* grid-template-columns: 282px, 1fr;
    grid-template-rows: 282px, 1fr; */
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    /* grid-template-columns: minmax(min-content, max-content) 1fr;
    grid-template-rows: minmax(min-content, max-content) 1fr; */
    gap: 25px;
    background: #FFFFFF;
    border-radius: 10px;
    /* background-size: cover; */
    padding-bottom: 31px;
}