/* .element {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    gap: 25px;
    background: #FFFFFF;
    border-radius: 10px;
    padding-bottom: 31px;
} */

.element {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    background: #FFFFFF;
    border-radius: 10px;
    gap: 25px;
    padding-bottom: 31px;
}